@{
    ViewData["Title"] = "Home Page";
}

@inject BlogAppV1.Entities.DTOs.CurrentUserDto CurrentUser


<div class="container-fluid grid text-dark">
    @await Component.InvokeAsync("MainPageData")
</div>
<div id="progress" style="display:none">
    <h4>Loading...</h4>
</div>